<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
      <form (submit)="uploadPhoto(title, description)" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Photo's Title" required #title>
        </div>
        <div class="form-group">
          <textarea class="form-control"  rows="2" placeholder="Photo's Description" #description></textarea>
        </div>
        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
        <img class="img-fluid" [src]="photoSelected || 'assets/Products_NoImageYet.jpg'" alt="No Image" (click)="photoInput.click()" >
        <button class="btn btn-primary btn-block">Upload</button>
      </form>
    </div>
  </div>
</div>
